apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  name: ing-msback-service
spec:
  rules:
    - host: wmsback.169.56.88.122.nip.io
      http:
        paths:
          - path: /input
            backend:
              serviceName: ms-wms-input
              servicePort: 8081

          - path: /wherehouse
            backend:
              serviceName: ms-wms-wherehouse
              servicePort: 8081